* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #eaf6ff;
}

.container {
    display: flex;
    height: 100vh;
}

/* SOL TARAF */
.left {
    width: 30%;
    background: #ffffff;
    padding: 40px;
    position: relative;
}

.logo {
    color: #007bff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 80px;
}

.left h1 {
    font-size: 26px;
    line-height: 1.4;
}

footer {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    color: #777;
}

/* SAĞ TARAF */
.right {
    width: 70%;
    padding: 40px;
    position: relative;
}

.back {
    text-decoration: none;
    color: #007bff;
    background: white;
    padding: 8px 12px;
    border-radius: 6px;
}

.form-box {
    max-width: 450px;
    margin-top: 100px;
}

.small {
    color: #555;
}

h2 {
    margin: 10px 0;
}

.change {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}

.info {
    margin: 20px 0;
    font-size: 14px;
    color: #444;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4fa8e8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* GÖRSEL */
.illustration {
    position: absolute;
    right: 100px;
    top: 180px;
    width: 300px;
}

